presslist{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFC9E7;
}

med {
    width: 95%px;
	display: block;
	padding: 10pt;
    margin: 5px;
  background-color: #F5EAE8;
	text-align: left;
}
title {
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 1%;
    display: block;
    color: red;
}
publisher {
    font-size: 90%;
    color: black;
}
publisher::before {content: "Published in: "}

author {
    font-size: 90%;
    color: black;
}
author::before {content: "By: "}
date {
    font-size: 90%;
    color: black;
    margin-top: 1%;}
